<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>correo</title>
</head>
<body>
	<strong>Estimado: </strong><%="#{@user.name} #{@user.last_name}"%></br>
	<%if @user.rol =="employee"%>
		<%="Usted formara parte de Slice Group como Trabajador independiente 'freelancer'"%>
	<%elsif @user.rol =="admin"%>
		<%="Usted formara parte de Slice Group como Admininistrador de proyectos"%>
	<%elsif @user.rol =="pending"%>
		<%="Usted se encuentra en lista de espera, pronto sera asignado a un area de trabajo"%>
	<%elsif @user.rol =="locked"%>
		<%="Usted ha sido bloqueado de Slice Group, por favor pongase en contacto con la empresa"%>
	<%end%>
</body>
</html>
