.listing-show-header
	.actions
		- if can? :update, PercentageCost
			= link_to edit_admin_percentage_cost_path(@percentage_cost), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("keppler.models.singularize.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.percentage_cost.id")
				.display-value= @percentage_cost.id
			%li.list-row
				.display-label= t("activerecord.attributes.percentage_cost.order_id")
				.display-value= @percentage_cost.order_id
			%li.list-row
				.display-label= t("activerecord.attributes.percentage_cost.quantify")
				.display-value= "#{@percentage_cost.quantify}%"
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_percentage_costs_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
