%h1 Listing banks

%table
  %thead
    %tr
      %th Stock bank
      %th Type account
      %th N account
      %th Email paypal
      %th User
      %th
      %th
      %th

  %tbody
    - @banks.each do |bank|
      %tr
        %td= bank.stock_bank_id
        %td= bank.type_account
        %td= bank.n_account
        %td= bank.email_paypal
        %td= bank.user_id
        %td= link_to 'Show', bank
        %td= link_to 'Edit', edit_bank_path(bank)
        %td= link_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bank', new_bank_path
