.wrapper
	.wrapper-body.container
		.actions
			= link_to admin_payments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			.card-content
				%ul.list
					-if @payment.asignation.order.payment_currency == "Dolar"
						-@moneda = "$"
					-elsif @payment.asignation.order.payment_currency == "Bolivar"
						-@moneda = "Bs"	
					%li.list-row
						.display-label= t("activerecord.attributes.#{controller_name.singularize}.N ASIGNATION")
						.display-value.fs-body-1.tc-black-2 
							= link_to @payment.asignation.id, admin_asignation_path(@payment.asignation.id)
						
					%table.responsive-table.centered
						%thead
							%tr
								%th N° PAYMENT
								%th COST ACTIVITY
								%th PAYMENT
								%th Q. PAYMENT
								%th DATE TIME
								%th DESCRIPTION
								%th RESPONSIBLE
						%tbody
							-q_payment = 0
							-@payment.asignation.payments.each do |payment|
								

								%tr
									%td
										= link_to payment.id, admin_payment_path(payment.id)
									%td
										-if payment.asignation.order.payment_currency == "Bolivar"
											="#{payment.asignation.phase.task.cost_bolivar} Bs"
										-elsif  payment.asignation.order.payment_currency == "Dolar"
											="#{payment.asignation.phase.task.cost_bolivar} $"
									%td
										="#{payment.asignation.payment} #{@moneda}"
									%td
										="#{payment.quantify} #{@moneda}"
										-q_payment += payment.quantify
									%td
										=payment.created_at
									%td
										=payment.description
									%td
										=payment.user.name
					%strong 
						TOTAL QUANTIFY PAYMENT:
					="#{q_payment} #{@moneda}"


								
												

							
										
								
									