<div id="partial_payment">
	<table class="table table-bordered table-responsive table-striped table-condensed" id="tablet">
    <thead>
      <tr style="text-align: center;">
        <th>N REFERENCE</th>
        <th>QUANTIFY PAYMENT</th>
        <th>DESCRIPTION</th>
        <th>FACILITADOR</th>
        <th>DATE CREATION</th>
      </tr>
    </thead>
    <%a = 0%>
    <%asignation.payments.sort.reverse.each do |payment|%>
    	<%a += 1%>
      <tbody>
        <tr style="text-align: center;">
          <td><%=payment.id%></td>
          <%if asignation.order.payment_currency == "Dolar"%>
            <%@moneda = "$"%>
          <%elsif asignation.order.payment_currency == "Bolivar"%>
            <%@moneda = "Bs"%>
          <%end%>
          <td><%="#{payment.quantify} #{@moneda}"%></td>
          <td><%=payment.description%></td>
          <td><%=payment.user.name%></td>
          <td><%=payment.created_at%></td>
        </tr>
      </tbody>
    <%end%>
  </table>
</div>