<%=render "app/layouts/navegation_navbar"%>
<%=render "app/employees/partials/table"%>
 <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
        <h4>PAYMENTS</h4>
          <table class="table table-bordered table-responsive table-striped table-condensed" id="tablet">
            <thead>
              <tr>
                <th>N ASIGNATION</th>
                <th>DATE START</th>
                <th>DATE END</th>
                <th>PAYMENT</th>
                <th>TOTAL PAYMENT</th>
                <th>REMAINING TOTAL</th>
                <th>MAS</th>
              </tr>
            </thead>
            <%@asignations.sort.reverse.each do |asignation|%>
              <%if asignation.user.id.to_i == current_user.id.to_i %>
                <%if ((asignation.state_id == '1') or (asignation.state_id == '2')) and (asignation.payments.inject(0) {|i,p| p.quantify + i} != asignation.payment) %>
                  <tbody>
                    <tr style="text-align: center;">
                      <td><%=asignation.id%></td>
                      <td><%=asignation.date_start%></td>
                      <td><%=asignation.date_end%></td>
                      <%if asignation.order.payment_currency == "Dolar"%>
                        <%@moneda = "$"%>
                      <%elsif asignation.order.payment_currency == "Bolivar"%>
                        <%@moneda = "Bs"%>
                      <%end%>
                        <td><%="#{asignation.payment} #{@moneda}"%></td>
                        <td><%=total = asignation.payments.inject(0) {|i,p| p.quantify + i}%> <%=@moneda%></td>
                        <td><%="#{asignation.payment - total} #{@moneda}"%></td>
                        <td><%=link_to "...",app_employees_partial_payment_path(asignation.id), remote: true%></td>
                    </tr>
                  </tbody>
                <%end%>
              <%end%>
            <%end%>
          </table>
          <div id="partial_payment"></div>
        </div>
      </div>
    </div>

   